#login-form
{
	width:240px;
	border:2px solid #00F;
	margin-left:550px;
	padding:10px;
}
#msg
{
	color:#00C;
	border:2px solid #F00;
	padding:5px;
	width:250px;
	margin-left:550px;
	text-align:center;
	font-weight:bold;
	background:#F7A99D;
	margin-bottom:10px;
}
#all
{
	width:550px;
	height:auto;
	margin-left:400px;
	border:2px solid #F00;
}
#title
{
	width:540px;
	padding:5px;
	background:#39F;
	height:30px;
	direction:rtl;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	
}
#content
{
	width:540px;
	height:500px;
	background:#CCC;
	padding:5px;
	overflow:scroll;
	
}
#text
{
	margin-top:5px;
	background:#CCC;
	border:1px solid #333;
	height:20px;
	width:490px;
	margin-left:400px;
}
#exit
{
	margin-left:620px;
	margin-top:20px;
}